@import url(https://fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css?family=Dosis');


body {
    background-color: #d3d3d3;
}

.row {
     max-width: 120rem !important;
}
/* foundation button style override*/
button, .btn {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 0.1rem !important;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 15px;
    display: inline-block;
    padding: 6px 10px !important;
    font-size: 1rem;
    background-color: #957070;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out;
}

.btn-default {
    font-size: 12px;
    text-align: right;
}

.btn.btn-raised {
    box-shadow: 0 2px 4px rgba(0,0,0,.12),0 2px 8px rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.btn.btn-raised:hover,.btn:focus {
  background-color: #957070;
    box-shadow: 0 4px 8px rgba(0,0,0,.50),0 4px 8px rgba(0,0,0,.50);
    transition: box-shadow .128s cubic-bezier(.4,0,.2,1);
}

.btn:focus {
  outline: none;
}


.chart-wrapper .chart-area{
    text-align: center;
    overflow: hidden;
    position: relative;
}

.chart-wrapper{
    background-color: #fff;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.16);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.16);
}

.chart-wrapper .chart-title{
    text-transform: capitalize;
    border-bottom: 2px solid #d9d9d9;
    font-size: 18px;
    font-family:Muli, sans-serif !important;
    text-align: center;
    padding: 10px 10px 10px;
}

.chart-wrapper .chart-area{
    overflow: hidden;
    position: relative;
}

nav .title-area{
  font-family:Muli, sans-serif !important;
}
text {
    cursor: default;
    fill: #000;
    pointer-events: none;
   font-family:Muli, sans-serif !important;
}

input text{
font-size: 14px;
 font-family:Muli, sans-serif !important;
  }

.node {
  cursor: pointer;
}

.node circle {
  fill: None;
}

.node text{
    fill: black;
}

#optionButton{
    margin-top: 20px;
    padding-bottom: 20px;
}


.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

/*Just to ensure the select2 box is "glued" to the top
	.search {
	  width: 100%;
	}

*/
#reftree{
 height: 620px;
  overflow-y: auto;
}

#basetree{
  height: 620px;
   overflow-y: auto;
}

#basetreeSvg, #reftreeSvg {
  overflow: visible;
}

#sideBar{
  background-color: #f0eee4;
  height: 760px;
   overflow-y: auto;
}
.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }

  .node text {
    font-size:10px;
    font-family:Dosis, sans-serif !important;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }



/*context menu*/
.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;
	font-family:'Dosis', Arial, sans-serif !important;
	font-size: 22px;
	min-width: 200px;
	border: 1px solid #d4d4d4;
	z-index:1200;
    box-shadow: 0 2px 8px rgba(0,0,0,.12),0 2px 8px rgba(0,0,0,.12);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

  #fullscreen:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

  .footer {
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Muli', Arial, sans-serif;
    position: absolute !important;
    width: 100%;
    bottom: 0 !important;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e8dddd;
  }

/*typeahead custom stying*/
#searchRef, #searchBase {
  margin-top: 10px;
}


.typeahead, .tt-query, .tt-hint, .tt-menu, .tt-open  {
    width: 400px !important;
    padding: 8px !important;
    font-size: 18px !important;
    border: 2px solid #ccc !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    outline: none;
}
.typeahead .tt-menu, .tt-open{
    background-color: #fff !important;
}


#searchBase .tt-menu, .tt-open {
  max-height: 150px;
  overflow-y: auto;
}
#searchRef .tt-menu, .tt-open {
  max-height: 150px;
  overflow-y: auto;
}

.typeahead: focus .tt-menu, .tt-open{
    border: 2px solid #0097cf !important;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
}
.tt-hint {
    color: #999
}


}

.tt-dropdown-menu{
    width: 300px !important;
    margin-top: 12px !important;
    padding: 8px 0 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #579;
}
.tt-suggestion p {
    margin: 0;
}

p {
  margin-left: 20px;
  margin-right: 50px;
}
